gspread==3.4.2
mysql-connector-python==8.2.0
mysqlclient==2.2.0
pymysql==1.1.0
SQLAlchemy==2.0.23
tqdm==4.66.1
xlsxwriter==3.1.9
dash
notion-df==0.0.5
pyarrow==15.0.0
pywin32==306
dot-env
pandas
openpyxl
xlsxwriter